.info {
    padding: 10px; 
    &__view {
        display: none;
        &__email {
            display: block;
            margin-left: 10px;
            font-weight: 700;
        }
    }
    &__edit {
        display: none;
    }
    &--active {
        display: block;
    }
}


